<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javan.dao.FurnitureMapper" >
  <resultMap id="BaseResultMap" type="com.javan.entity.Furniture" >
    <id column="furniture_id" property="furniture_id" jdbcType="INTEGER" />
    <result column="furniture_name" property="furniture_name" jdbcType="VARCHAR" />
    <result column="furniture_discription" property="furniture_discription" jdbcType="VARCHAR" />
    <result column="picture_path" property="picture_path" jdbcType="VARCHAR" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="warehouse_id" property="warehouse_id" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    furniture_id, furniture_name, furniture_discription, picture_path, provider, warehouse_id, 
    amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.javan.entity.FurnitureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from furniture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from furniture
    where furniture_id = #{furniture_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from furniture
    where furniture_id = #{furniture_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.javan.entity.FurnitureExample" >
    delete from furniture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.javan.entity.Furniture" >
    insert into furniture (furniture_id, furniture_name, furniture_discription, 
      picture_path, provider, warehouse_id, 
      amount)
    values (#{furniture_id,jdbcType=INTEGER}, #{furniture_name,jdbcType=VARCHAR}, #{furniture_discription,jdbcType=VARCHAR}, 
      #{picture_path,jdbcType=VARCHAR}, #{provider,jdbcType=VARCHAR}, #{warehouse_id,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.javan.entity.Furniture" >
    insert into furniture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="furniture_id != null" >
        furniture_id,
      </if>
      <if test="furniture_name != null" >
        furniture_name,
      </if>
      <if test="furniture_discription != null" >
        furniture_discription,
      </if>
      <if test="picture_path != null" >
        picture_path,
      </if>
      <if test="provider != null" >
        provider,
      </if>
      <if test="warehouse_id != null" >
        warehouse_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="furniture_id != null" >
        #{furniture_id,jdbcType=INTEGER},
      </if>
      <if test="furniture_name != null" >
        #{furniture_name,jdbcType=VARCHAR},
      </if>
      <if test="furniture_discription != null" >
        #{furniture_discription,jdbcType=VARCHAR},
      </if>
      <if test="picture_path != null" >
        #{picture_path,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="warehouse_id != null" >
        #{warehouse_id,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.javan.entity.FurnitureExample" resultType="java.lang.Integer" >
    select count(*) from furniture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update furniture
    <set >
      <if test="record.furniture_id != null" >
        furniture_id = #{record.furniture_id,jdbcType=INTEGER},
      </if>
      <if test="record.furniture_name != null" >
        furniture_name = #{record.furniture_name,jdbcType=VARCHAR},
      </if>
      <if test="record.furniture_discription != null" >
        furniture_discription = #{record.furniture_discription,jdbcType=VARCHAR},
      </if>
      <if test="record.picture_path != null" >
        picture_path = #{record.picture_path,jdbcType=VARCHAR},
      </if>
      <if test="record.provider != null" >
        provider = #{record.provider,jdbcType=VARCHAR},
      </if>
      <if test="record.warehouse_id != null" >
        warehouse_id = #{record.warehouse_id,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update furniture
    set furniture_id = #{record.furniture_id,jdbcType=INTEGER},
      furniture_name = #{record.furniture_name,jdbcType=VARCHAR},
      furniture_discription = #{record.furniture_discription,jdbcType=VARCHAR},
      picture_path = #{record.picture_path,jdbcType=VARCHAR},
      provider = #{record.provider,jdbcType=VARCHAR},
      warehouse_id = #{record.warehouse_id,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.javan.entity.Furniture" >
    update furniture
    <set >
      <if test="furniture_name != null" >
        furniture_name = #{furniture_name,jdbcType=VARCHAR},
      </if>
      <if test="furniture_discription != null" >
        furniture_discription = #{furniture_discription,jdbcType=VARCHAR},
      </if>
      <if test="picture_path != null" >
        picture_path = #{picture_path,jdbcType=VARCHAR},
      </if>
      <if test="provider != null" >
        provider = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="warehouse_id != null" >
        warehouse_id = #{warehouse_id,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where furniture_id = #{furniture_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javan.entity.Furniture" >
    update furniture
    set furniture_name = #{furniture_name,jdbcType=VARCHAR},
      furniture_discription = #{furniture_discription,jdbcType=VARCHAR},
      picture_path = #{picture_path,jdbcType=VARCHAR},
      provider = #{provider,jdbcType=VARCHAR},
      warehouse_id = #{warehouse_id,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER}
    where furniture_id = #{furniture_id,jdbcType=INTEGER}
  </update>
</mapper>