<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javan.dao.OutnboundMapper" >
  <resultMap id="BaseResultMap" type="com.javan.entity.Outnbound" >
    <id column="outbount_id" property="outbount_id" jdbcType="INTEGER" />
    <result column="furniture_id" property="furniture_id" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    outbount_id, furniture_id, amount, position, date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from outbound
    where outbount_id = #{outbount_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from outbound
    where outbount_id = #{outbount_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javan.entity.Outnbound" >
    insert into outbound (outbount_id, furniture_id, amount, 
      position, date)
    values (#{outbount_id,jdbcType=INTEGER}, #{furniture_id,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{position,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.javan.entity.Outnbound" >
    insert into outbound
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="outbount_id != null" >
        outbount_id,
      </if>
      <if test="furniture_id != null" >
        furniture_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="outbount_id != null" >
        #{outbount_id,jdbcType=INTEGER},
      </if>
      <if test="furniture_id != null" >
        #{furniture_id,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javan.entity.Outnbound" >
    update outbound
    <set >
      <if test="furniture_id != null" >
        furniture_id = #{furniture_id,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where outbount_id = #{outbount_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javan.entity.Outnbound" >
    update outbound
    set furniture_id = #{furniture_id,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP}
    where outbount_id = #{outbount_id,jdbcType=INTEGER}
  </update>
</mapper>